<button class="duration">{{ duration }}</button>
<button class="rewind">rewind</button>
<button class="play">play</button>
<button class="pause">pause</button>
<button class="forward">forward</button>
